aside {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 150px;
  padding: 5px;
  width: 10vw;
}

aside form {
  margin: 5px auto;
  width: 95%;
}

.aside-search-input,
.aside-search-submit {
  width: 100%;
}

aside ul {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  list-style: none;
}

aside li {
  cursor: pointer;
  text-align: left;
}