aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: 150px;
  padding: 5px;
  height: 90vh;
}

aside form {
  width: 80%;
  margin: 5px auto;
}

.aside-search-input,
.aside-search-submit {
  width: 95%;
}

aside ul {
  height: 300px;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  margin: 25px auto;
}

aside li {
  text-align: left;
}