header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
}

h1 {
  margin: auto;
  font-size: 5vw;
}