.main-section-display {
  // column-count: 5;
  // column-gap: 0;
  width: 95vw;
  overflow: scroll;
  padding: 10px;
  max-width: 90vw;
  max-height: 90vh;
  // display: flex;
  // flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}