.main-section-display {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  max-height: 90vh;
  overflow: scroll;
  width: 100vw;
}

.no-credentials-page {
  width: 100vw;
  height: 90vh;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 200px;
  & a {
    color: red;
    text-decoration: none;
  }
}