.planet-info {
  color: white;
  height: 90vh;
  overflow: hidden;
}

.planet-info-image {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}

.planet-info-title {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

.planet-info-left-top {
  bottom: 88vh;
  left: 1vw;
  position: relative;
  width: 22%;
  z-index: 2;
}

.planet-info-left-bottom {
  position: relative;
  z-index: 2;
  bottom: 85vh;
  left: 1vw;
  width: 22%;
  font-size: 1.2vw;
}

.planet-info-description {
  color: white;
  font-size: 1.2vw;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 5px 0px;
}

h3 {
  margin-top: 10px;
}