.planet-info {
  color: white;
  height: 90vh;
}

.planet-info-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.planet-info-title {
  color: white;
  font-size: 2vw;
  text-align: center;
}

.planet-info-top-left {
  bottom: 98%;
  left: 1%;
  position: relative;
  width: 24%;
  z-index: 2;
}

.planet-info-bottom-left {
  bottom: 85vh;
  font-size: 1.1vw;
  left: 1vw;
  position: relative;
  width: 24%;
  z-index: 2;
}

.planet-info-right {
  font-size: 1.1vw;
  height: 90%;
  overflow: scroll;
  position: fixed;
  right: 1%;
  text-align: left;
  top: 12.5%;
  width: 24%;
  z-index: 2;
}

.planet-info-climate {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 5px 0px;
}

.planet-info-description {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  font-size: 1.1vw;
  padding: 5px 0px;
}

h3,
.planet-info-title {
  margin-top: 12px;
}