.planet-info {
  color: white;
  height: 90vh;
  overflow: hidden;
}

.planet-info-image {
  height: 90vh;
  z-index: -1;
  background-image: cover;
}

.planet-info-title {
  position: relative;
  color: white;
  font-size: 3vw;
  left: 10vh;
  bottom: 85vh;
}

.planet-info-description {
  position: relative;
  color: white;
  left: 5vh;
  bottom: 85vh;
  width: 20%;
  font-size: 1.5vw;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 5px 0px;
}