.form-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}

.stats-form {
  align-items: center;
  background-color: rgba(128, 128, 128, .3); 
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  margin-left: 50px;
  margin-top: 50px;
  padding: 5px;
  width: 30%;
}

.stats-form-input {
  height: 30px;
  margin: 10px 0px;
  width: 60%;
}

.stats-greeting {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.stats-planets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;
  width: 95%;
  & a {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 0px 10px;
    margin: 10px;
    text-decoration: none;
  }
}

.stats-link-option {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.stats-cutout {
  width: 90%;
}