.form-container {
  width: 100vw;
  height: 90vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40%;
  padding: 5px;
  background-color: rgba(128, 128, 128, .3); 
  margin-top: 50px;
  margin-left: 50px;
}

.stats-form-input {
  margin: 10px 0px;
  height: 30px;
  width: 60%;
}

.stats-greeting {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.stats-planets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 20px 0px;
  & a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0px 10px;
  }
}

.stats-link-option {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.stats-cutout {
  width: 90%;
}