.user-stats {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  object-fit: cover;
  width: 100vw;
}

.user-stats-background-container {
  height: 90vh;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.user-stats-background {
  object-fit: cover;
  position: relative;
  width: 100%;
}

.user-stats-container {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  position: fixed;
  top: 30%;
  & h3 {
    font-size: 3rem;
    text-align: center;
  }
  & p {
    margin: 10px 0px;
  }
}

.Venus-background {
  bottom: 100px;
}

.Uranus-background {
  bottom: 100px;
}

.Neptune-background {
  bottom: 150px;
}

.Pluto-background {
  bottom: 200px;
}
